.card {
  margin: 0 !important;
  &__grid {
    padding: 0.5rem;
    &-center {
      align-self: center
    }
    
    &__pill {
      margin: auto;
      display: block !important;
    }
  }
}

.incident {
  padding: 0 !important;
  &__paper {
      width: stretch;
      min-width: fit-content;
    }
}