.modal__dialog {
  width: 30rem;
  margin: auto;
}

.modal__grid {
  margin: 5rem;
  h4 {
    padding: 2rem;
  }
}

.paper-content {
  width: fit-content;
  margin: 1.75rem auto !important;
}

.btnLogin {
  padding: .5rem 1rem !important;
  width: 100%;
}

input {
  border-radius: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}